body {
    margin: 100px; 
    background-color: #F5F5F7;
}

h1 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-size: 28px;
    font-weight: 500;
}
.title {
    color: #6e6e73;
    font-style: normal;
}
.productarea {
    background-color: #ffff;
}
.infotitle {
    color: #6e6e73;
    font-size: 12px;
    font-weight: 600;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}
h2 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    color: #1d1d1f;
    font-size: 28px;
    margin: 0 0 9px;
    line-height: 1.14286;
    font-weight: 600;
}
.price {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
}
.product_img {
    height: 264px;
    width: 340px;
    margin: 0 auto;
    cursor: pointer;
    margin: 0 20px;
}
.productarea {
  
    background-color: #fff;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    white-space: normal;
    width: 400px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0,0,.5,1);

  
    /* border-radius: 20px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    padding-top: 10px;
    padding-bottom: 40px;
    display: block; */
    
}
.titles {
    padding: 30px 30px 16px;
}
.button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 980px;
    background: #0071e3;
   
}
.detail {
    margin: 30px;
}
